
<ng-container class="app-container">

  <!-- Header -->
  <app-header (clicked)="sidebar.toggle()"></app-header>

  <mat-sidenav-container class="sidenav-container">

    <!-- Sidenav -->
    <mat-sidenav #sidebar [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches" class="app-sidenav" [fixedInViewport]="options.value.fixed"
      [fixedTopGap]="options.value.top" [fixedBottomGap]="options.value.bottom">

      <!-- Sidenav items -->
      <mat-list>
        <mat-list-item>
          <!-- <button mat-button class="sidebar-item" routerLink="home" routerLinkActive="active">Home</button> -->
          <a routerLink="/home">home</a>
        </mat-list-item>
        <mat-list-item>
          <a routerLink="/ingresos">ingresos</a>
          <!-- <button mat-button class="sidebar-item" routerLink="ingresos" routerLinkActive="active">ingresos</button> -->
        </mat-list-item>
      </mat-list>
    </mat-sidenav>

    <!-- Content -->
    <mat-sidenav-content [formGroup]="options">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <!-- Footer -->
  <mat-toolbar class="app-footer">Footer</mat-toolbar>

</ng-container>