


  <div class="app-container">
    <router-outlet></router-outlet>

  </div>
  
  <!-- Footer -->
  <mat-toolbar color="primary" layout="row" class="toolbarNav">
    <button mat-button routerLinkActive="active-link" routerLink="/home">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-button routerLinkActive="active-link" routerLink="/ingresos">
      <mat-icon>attach_money</mat-icon>
    </button>
    <button mat-button (click)="logoutUser()"><mat-icon>exit_to_app</mat-icon></button>
  </mat-toolbar>

