// mat-toolbar.app-header{
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
// }

button {
   
    font-weight: bold;

    &.active-link{
        color: black;
    }
}

.app-container{
    padding: 0 20px;
    z-index: -1 !important;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.toolbarNav{  
    position: fixed;
    bottom: 0; 
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    height: 52px;

  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
   box-shadow:        2px 2px 4px 5px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.toolbarNav-fer{
    position: fixed;
    height: 52px;
    top: 0;
    left: 0;
    right: 0;
}

.material-icons.color_blue:hover { 
    color: blueviolet;
}
