<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar [ngStyle]="{'background-image': 'url(../assets/logo/Dollar_48.png)'}" class="example-header-image"></div>
      <mat-card-title class="title">MMS</mat-card-title>
      <mat-card-subtitle>Login</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="form">
            <mat-form-field class="mat-input">
              <mat-label>Usuario</mat-label>
              <input matInput formControlName="userName" [appAutofocus]="!getValue('rememberEmail')" required>
              <mat-error *ngIf="isFieldInvalid('userName')">
                Por favor, ingrese su nombre de usuario
              </mat-error>
            </mat-form-field>
            <mat-form-field class="mat-input">
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="password" [appAutofocus]="getValue('rememberEmail')" required>
              <mat-error *ngIf="isFieldInvalid('password')">
                Por favor, ingrese su contraseña
              </mat-error>
            </mat-form-field>
            <mat-checkbox color="primary" class="mat-input" formControlName="rememberEmail">Recuérdame</mat-checkbox>
        </form>
    </mat-card-content>
    <mat-card-actions class="action-buttons">
      <button *ngIf="!showSpinner" mat-button color="primary" (click)="onSubmit()">
        <mat-icon>lock</mat-icon> Login
      </button>
      <mat-progress-spinner *ngIf="showSpinner" style="margin:0 auto;"
          diameter="20"
          [color]="color"
          [mode]="mode"
          [value]="value">
      </mat-progress-spinner>
    </mat-card-actions>
</mat-card>