
<div class="div-input">
  <ng-container *ngIf="!showPass">
    <div mat-card-avatar [ngStyle]="{'background-image': 'url(../assets/logo/logo-mms-64.png)'}" class="example-header-image"></div>
    <h1 class="title">M.M.S</h1>
    <img class="example-header-image" src="../assets/logo/logo-mms-64.png" alt="">
  </ng-container>
    <form [formGroup]="form">
      <mat-form-field [ngClass]="{'mat-input-login': !showPass, 'mat-input': showPass}">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" [appAutofocus]="!getValue('rememberEmail')">
        <mat-error *ngIf="(email.hasError('required') && email.touched) || email.hasError('pattern')">
          {{getErrorMessage(email.errors)}}
        </mat-error>
      </mat-form-field>
      <div [style.margin-top.px]="!showPass ? 20 : 10">
        <mat-checkbox color="primary" [ngClass]="{'mat-input-login': !showPass, 'mat-input': showPass}" formControlName="rememberEmail">Recuérdame</mat-checkbox>
      </div>
    </form>
</div>

<app-numeric-keypad
  *ngIf="showPass"
  (onNumberClick)="onNumberClick($event)">
</app-numeric-keypad>

<app-alert-view *ngIf="showSpinner"></app-alert-view>


<button class="btn-footer" mat-raised-button color="primary" (click)="onSubmit()">
  <mat-icon>lock</mat-icon> Login
</button>
