
// ::ng-deep .mat-focused .mat-form-field-label {
//   /*change color of label*/
//   color: #FFFFFF !important;
//  }

//  ::ng-deep.mat-label {
//   color: #FFFFFF !important;
//  }

//  ::ng-deep.mat-form-field-underline {
//   /*change color of underline*/
//   background-color: #FFFFFF !important;
// } 

// ::ng-deep.mat-form-field-ripple {
//  /*change color of underline when focused*/
//  background-color: #FFFFFF !important;;
// }

.mat-checkbox {
  margin-top: 30px;
}

.mat-input-login {
  width: 100%;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-card {
  margin-top: 10%;
}

.title {
  font-weight: bold;
}

.example-header-image {
  background-size: cover;
}

.img-article{
    height: 350px;
}

.progress {
    width: 100%;
}

mat-card {
  max-width: 300px;
  margin: 3em auto;
  text-align: center;
}
.div-input {
  max-width: 300px;
  margin: 3em auto;
  text-align: center;
}

mat-card-header {
  margin-left: 25%;
}
