
<div class="div-input">
  <ng-container *ngIf="!showPass">
    <div mat-card-avatar [ngStyle]="{'background-image': 'url(../assets/logo/logo-mms-64.png)'}" class="example-header-image"></div>
    <h1 class="title">M.M.S</h1>
    <img class="example-header-image" src="../assets/logo/logo-mms-64.png" alt="">
  </ng-container>
    <form [formGroup]="form">
      <mat-form-field *ngIf="!showPass" class="mat-input-login">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="userName" [appAutofocus]="!getValue('rememberEmail')">
        <mat-error *ngIf="isFieldInvalid('userName')">
          Por favor, ingrese su nombre de usuario
        </mat-error>
      </mat-form-field>
      <div class="mat-checkbox">
        <mat-checkbox color="primary" class="mat-input-login" formControlName="rememberEmail">Recuérdame</mat-checkbox>
      </div>
    </form>
</div>
      
<app-numeric-keypad
  *ngIf="form.valid && showPass"
  (onNumberClick)="onNumberClick($event)">
</app-numeric-keypad>


<button class="btn-footer" mat-raised-button color="primary" (click)="onSubmit()">
  <mat-icon>lock</mat-icon> Login
</button>
