<div class="container-all" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div fxFlex="100%">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <mat-form-field class="mat-input" appearance="fill">
        <input matInput type="number" formControlName="price" class="example-right-align">
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>

      <mat-button-toggle-group (change)="onClickedToggle($event)" class="button-toggle" formControlName="toggleTipo" name="fontStyle" aria-label="Font Style">
        <mat-button-toggle class="button-ingreso" value="1">
          <mat-icon>trending_up</mat-icon> INGRESO
        </mat-button-toggle>
        <mat-button-toggle class="button-egreso" value="2">
          <mat-icon>trending_down</mat-icon> EGRESO
        </mat-button-toggle>
      </mat-button-toggle-group>

      <mat-list>
        <mat-list-item>
          <span class="title" *ngIf="!selectedCate">Categorías</span>
          <span class="title" *ngIf="selectedCate" [style.color]="selectedCate.Id_Tipo == statusType.EGRESO ? 'red': 'green'">{{selectedCate.Nombre}}</span>
          <span class="empty-space"></span>
          <button [disabled]="listCategorias.length < 1" mat-button color="primary" (click)="openDialog(listCategorias, type.CATE)">
            Seleccionar <mat-icon>chevron_right</mat-icon>
          </button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <span class="title" *ngIf="!selectedSubCate">Sub Categoría</span>
          <span class="title" *ngIf="selectedSubCate" style="color: #7b1fa2;">{{selectedSubCate.Nombre}}</span>
          <span class="empty-space"></span>
          <button [disabled]="!selectedCate" *ngIf="!showSpinner" mat-button color="primary" (click)="openDialog(listSubcate, type.SUB_CATE)">
            Seleccionar <mat-icon>chevron_right</mat-icon>
          </button>
          <mat-progress-spinner 
            *ngIf="showSpinner"
            style="margin-right: 56px"
            diameter="20"
            [mode]="mode"
            [value]="value">
          </mat-progress-spinner>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <span class="title">Precio</span>
          <span class="empty-space"></span>
          <span class="title" style="margin-right: 20px">$ {{formValue('price').value | number}}</span>
        </mat-list-item>
      </mat-list>

      <mat-form-field class="mat-input">
        <mat-label class="title title--black">Observaciones</mat-label>
        <input matInput formControlName="detail">
      </mat-form-field>
    </form>

    <button class="btn-footer" mat-raised-button color="primary" (click)="onSubmit()">
      <mat-icon>save</mat-icon> Guardar
    </button>

  </div>
</div>


