<div class="container-all">
  <div fxFlex="100%">
    <!-- <h1 class="title-ingreso">MMS - Nuevo</h1> -->
    <img src="../assets/logo/logo-mms-64.png" alt="Paris" class="center">
    <hr>
    <form [formGroup]="form">
      <mat-form-field class="mat-input-login" appearance="fill">
        <input matInput type="number" (keypress)="numberOnly($event)" formControlName="price" class="example-right-align">
        <mat-error *ngIf="(formValue('price').hasError('required'))">
          El campo es requerido
        </mat-error>
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>

      <mat-button-toggle-group (change)="onClickedToggle($event)" class="button-toggle" formControlName="toggleTipo" name="fontStyle" aria-label="Font Style">
        <mat-button-toggle class="button-ingreso" value="1">
          <mat-icon>trending_up</mat-icon> INGRESO
        </mat-button-toggle>
        <mat-button-toggle class="button-egreso" value="2">
          <mat-icon>trending_down</mat-icon> EGRESO
        </mat-button-toggle>
      </mat-button-toggle-group>

      <mat-list>
        <mat-list-item>
          <span class="title" *ngIf="!selectedCate">Categorías</span>
          <span class="title" *ngIf="selectedCate" [style.color]="selectedCate.Id_Tipo == statusType.EGRESO ? 'red': 'green'">{{selectedCate.Nombre}}</span>
          <span class="empty-space"></span>
          <button [disabled]="listCategorias.length < 1" mat-button color="primary" (click)="openDialog(listCategorias, type.CATE)">
            Seleccionar <mat-icon>chevron_right</mat-icon>
          </button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <span class="title" *ngIf="!selectedSubCate">Sub Categoría</span>
          <span class="title" *ngIf="selectedSubCate" style="color: #7b1fa2;">{{selectedSubCate.Nombre}}</span>
          <span class="empty-space"></span>
          <button [disabled]="!selectedCate" *ngIf="!showSpinner" mat-button color="primary" (click)="openDialog(listSubcate, type.SUB_CATE)">
            Seleccionar <mat-icon>chevron_right</mat-icon>
          </button>
          <mat-progress-spinner 
            *ngIf="showSpinner"
            style="margin-right: 56px"
            diameter="20"
            [mode]="mode"
            [value]="value">
          </mat-progress-spinner>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <span class="title">Precio</span>
          <span class="empty-space"></span>
          <span class="title" style="margin-right: 20px">$ {{formValue('price').value | number}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>

      <mat-form-field style="margin-top: 13px;" class="mat-input-date">
        <mat-label class="title title--black">Fecha</mat-label>
        <input matInput type="date" formControlName="date">
        <mat-error *ngIf="(formValue('date').hasError('required'))">
          El campo es requerido
        </mat-error>
      </mat-form-field>

      <mat-form-field style="margin-top: 13px;" class="mat-input">
        <mat-label class="title title--black">Observaciones</mat-label>
        <input matInput style="text-transform: uppercase" formControlName="detail">
      </mat-form-field>
    </form>

    <button class="btn-footer" [disabled]="isFormValid" mat-button color="primary" (click)="onSubmit()">
      <mat-icon>save</mat-icon> Guardar
    </button>

  </div>
  <app-alert-view *ngIf="showSpinnerModal"></app-alert-view>
</div>


