.mat-option-double {
    line-height: 17px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.card-button {
    display: flex;
}

.btn-footer {
    border-radius: 0;
    cursor: pointer;
    height: 64px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.button-egreso {
    font-weight: bold;
    color: red;
}

.button-ingreso {
    font-weight: bold;
    color: green;
}

.button-toggle {
    margin-bottom: 20px;
}

.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    -moz-appearance: textfield;
}
  