<div fxLayout="column" fxFill>

	<div class="app-header" fxFlex="0 0 auto">
		
		<div style="display: flex;">
			<span class="survey-progress">
				<span class="survey-progress-bg">
					<span class="survey-progress-fg" [ngClass]="{'finished': progress === 100 , 'in-progress': progress !== 100}"  [style.width.%]="progress"></span>
				</span>
				
				<span class="survey-progress-labels">
				  <span class="survey-progress-label">
					{{progress}}%
				  </span>
				</span>
			</span>
			<!-- <h1 class="title">Firebase {{ synCount }}</h1> -->
			<span class="empty-space"></span>
			<button mat-button *ngIf="isOnline" class="button-success" (click)="onSync()">
				<mat-icon>sync_alt</mat-icon> SYNC MMS
			</button>
			<button *ngIf="!isOnline" disabled="true" mat-button class="button-error">
				<mat-icon>power_off</mat-icon> SYNC MMS
			</button>
		</div>
		<hr>

	</div>

	<div fxFlex fxLayout="column">
		<cdk-virtual-scroll-viewport [itemSize]="50" fxFlex>
			<mat-card  class="card mat-elevation-z4" *cdkVirtualFor="let item of ingresos; let i = index; let even = even" [class.even-item]="even" [style.height.px]="item">
			<div class="card-container-left">
		<mat-card-title>{{item.SubCategoria}}  <mat-icon class="card-mat-list-icon">cloud_done</mat-icon></mat-card-title>
		<span class="card-container-flex">{{item.Observacion}}</span>
		<span [style.color]="item.Tipo === 'EGRESO' ? 'red': 'green'">{{item.Precio | currency}} ({{item.Tipo}})</span>
		<span class="card-container-flex" style="color: #3f51b5">{{ item.Fecha | date: 'dd/MM/yyyy'}}</span>
		</div>
			</mat-card>
		</cdk-virtual-scroll-viewport>

			<!-- <div class="list-footer" fxFlex="0 0 auto">
		List SubFooter
		</div>  -->
	</div>
	<div class="app-footer" fxFlex="0 0 auto"></div>

</div>