.keypadwrapper {
  text-align: center;
  width: 100%;
  color: #000000;
}
.pwa-1 {
  color: red;
  overscroll-behavior: none;
  overscroll-behavior-y: contain;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.keypadwrapper .inputwrapper {
  margin-bottom: 15%;
  line-height: 0.61em;
  vertical-align: middle;
}
.keypadwrapper .numberinput {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  border: 2px solid #000000;
  margin-right: 2%;
  margin-left: 2%;
  font-size: 2em;
}
.keypadwrapper .keypad .numberline {
  width: 100%;
}
.keypadwrapper .keypad #linefour {
  position: absolute;
  bottom: 14%;
}
.keypadwrapper .keypad #linethree {
  position: absolute;
  bottom: 28%;
}
.keypadwrapper .keypad #linetwo {
  position: absolute;
  bottom: 42%;
}
.keypadwrapper .keypad #lineone {
  position: absolute;
  bottom: 56%;
}
.keypadwrapper .keypad .content {
  display: inline-block;
  margin: 0 8%;
}
.keypadwrapper .keypad .content div {
  width: 5em;
  height: 5em;
  text-align: center;
  border: 2px solid #000000;
  border-radius: 70px;
  display: inline-block;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.keypadwrapper .keypad .content div span:nth-child(1) {
  display: block;
  font-size: 1.8em;
  font-weight: bold;
  // height: 1em;
  margin-top: 0.8em;
}
.keypadwrapper .keypad .content div span:nth-child(2) {
  font-size: 0.6em;
}
.keypadwrapper .keypad .content div:hover {
  // background-color: #c4bebe;
  color: #000000;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nocircle {
  background-color: #000000 !important;
}

@media all and (max-width: 470px) {
  .content {
    margin: 0 5% !important;
  }
}
@media all and (max-width: 350px) {
  .content {
    margin: 0 2% !important;
  }
}
@media all and (max-height: 470px) {
  #linefour {
    bottom: 2% !important;
  }

  #linethree {
    bottom: 23% !important;
  }

  #linetwo {
    bottom: 43% !important;
  }

  #lineone {
    bottom: 63% !important;
  }
}